.App {
  text-align: center;
  background-color: #525252;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.root-container {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  padding: 10px;
  flex-direction: row;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 #ddd;
}

.playlist {
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  position: relative;
  background-color: black;
  justify-content: center;
  margin: 10px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 black;
}

.playlist > .button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  float: left;
  height: 20px;
  width: 40px;

}

.artwork {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .3s ease;
  backface-visibility: hidden;
}

.top-layer {
  display: flex;
  flex-direction: column;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.playlist:hover .artwork{
  opacity: 0.3;
}

.playlist:hover .top-layer {
  opacity: 1;
}

#creator-canvas {
  
  height: 96vh;
}

#header {
  background-color: #ddd;
  opacity: .25;
}

